fastapi
uvicorn[standard]
scikit-learn
pandas
joblib
pydantic
sqlalchemy
asyncpg
python-dotenv
pillow
python-multipart
requests
python-whois
dnspython
beautifulsoup4
lxml
tldextract
validators
xgboost
lightgbm
python-jose[cryptography]
passlib[bcrypt]
httpx
aiohttp
aiofiles

opencv-python-headless
python-multipart
pyzbar
neo4j
networkx
